{% extends 'base.html.twig' %}

{% block body %}

    {% if errors %}
        <div class="alert alert-danger">
            {{ errors.messageKey }}
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h2>Connexion</h2>
                <hr>
                <div class="form-group">
                    <label for="username">Email</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ lastUsername }}"/>
                </div>

                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password"/>
                </div>

                <button type="submit" class="btn btn-primary">Connexion</button>
                <a href="{{ path('register') }}">Pas encore de compte ? Inscrivez-vous !</a>
            </div>
        </div>
    </form>

{% endblock %}