{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme registerForm 'bootstrap_3_layout.html.twig' %}

    {{ form_start(registerForm, {attr:{novalidate:'novalidate'}}) }}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Inscription</h2>
            <hr>
            {{ form_row(registerForm.prenom) }}
            {{ form_row(registerForm.nom) }}
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password) }}
            {{ form_row(registerForm.isadmin) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(registerForm) }}
        </div>
    </div>
{% endblock %}