{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-hover table-bordered results">
    <thead>
    <tr>
        <th>#</th>
        <th class="col-md-5 col-xs-5">Prénom / Nom</th>
        <th class="col-md-4 col-xs-4">Modifier</th>
        <th class="col-md-3 col-xs-3">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <th scope="row">{{ user.id }}</th>
        <td>{{ user.nom }} {{ user.prenom }}</td>
        <td><a href="{{ path('update_user', {'id':user.id}) }}">Modifier</a></td>
        <td><a href="{{ path('delete_user', {'id':user.id}) }}">Supprimer</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}