{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme userForm 'bootstrap_3_layout.html.twig' %}

    {{ form_start(userForm, {attr:{novalidate:'novalidate'}}) }}

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Profil</h2>
            <hr>
            {{ form_row(userForm.prenom) }}
            {{ form_row(userForm.nom) }}
            {{ form_row(userForm.email) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>
            {{ form_end(userForm) }}
        </div>
    </div>
{% endblock %}