{% extends 'base.html.twig' %}

{% block body %}

{% form_theme materielForm 'bootstrap_3_layout.html.twig' %}

    {{ form_start(materielForm, {attr:{novalidate:'novalidate'}}) }}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Ajouter un produit</h2>
        <hr>
        {{ form_row(materielForm.nom) }}
        {{ form_row(materielForm.description) }}
        {{ form_row(materielForm.prix) }}
        {{ form_row(materielForm.type) }}
        {{ form_row(materielForm.image) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
</div>

    {{ form_end(materielForm) }}


{% endblock %}