{% extends 'base.html.twig' %}

{% block body %}
<style>
    .monospaced {
        font-family: 'Ubuntu Mono', monospaced ;
    }
    .add-to-cart .btn-qty {
        width: 52px;
        height: 46px;
    }
    .add-to-cart .btn {
        border-radius: 0;
    }

    /* Elevate */
    .carousel-inner {
        position: relative;
        width: 100%;
        min-height: 300px;
    }

    .carousel-control.right {
        right: 0;
        left: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    .carousel-control.left {
        left: 0;
        right: auto;
        background-image: none !important;
        background-repeat: repeat-x;
    }
    #carousel-example-generic {
        margin: 20px auto;
        width: 100%;
    }

    #carousel-custom {
        margin: 20px auto;
        width: 400px;
    }
    #carousel-custom .carousel-indicators {
        margin: 10px 0 0;
        overflow: auto;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 100%;
        overflow:hidden;
    }
    #carousel-custom .carousel-indicators li {
        background-color: transparent;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin: 0 !important;
        width: auto;
    }
    #carousel-custom .carousel-indicators li img {
        display: block;
        opacity: 0.5;
    }
    #carousel-custom .carousel-indicators li.active img {
        opacity: 1;
    }
    #carousel-custom .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    #carousel-custom .carousel-outer {
        position: relative;
    }
    .carousel-indicators li img {
        height: 66px;
        width: 52px;
    }
    /* Elevate end */
</style>
<script>
    jQuery(document).ready(function() {
        jQuery(".mCustomScrollbar").mCustomScrollbar({axis:"x"});
    });
</script>

<div class="container" id="product-section">

    <div class="row">

        <div class="col-md-6">
            <!--      Elevate -->

            <div class="gallery">
                <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
                    <div class='carousel-outer'>
                        <!-- me art lab slider -->
                        <div class='carousel-inner '>
                            <div class='item active'>
                                {% if materiel.image[0].chemin is not defined  %}
                                    <img src='{{ asset("upload/unknown.jpg") }}' alt=''id="zoom_05"  data-zoom-image="{{ asset("upload/unknown.jpg") }}" width="400">
                                {% else %}
                                {% endif %}
                                <img src='{{ asset(materiel.image[0].chemin) }}' alt=''id="zoom_05"  data-zoom-image="{{ asset(materiel.image[0].chemin) }}" width="400">
                            </div>
                            <script>
                                $("#zoom_05").elevateZoom({ zoomType    : "inner", cursor: "crosshair" });
                            </script>
                        </div>

                        <!-- sag sol -->
                        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
                            <span class='glyphicon glyphicon-chevron-left'></span>
                        </a>
                        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
                            <span class='glyphicon glyphicon-chevron-right'></span>
                        </a>
                    </div>

                    <!-- thumb -->
                    <ol class='carousel-indicators mCustomScrollbar meartlab'>
                        {% for image in materiel.image %}
                            {% if materiel.image[0].chemin is not defined  %}
                                <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src="{{ asset("upload/unknown.jpg") }}" width="250" height="250"></li>
                            {% else %}
                                <li data-target='#carousel-custom' data-slide-to='0' class='active'><img src="{{ asset(materiel.image[0].chemin) }}" width="250" height="250"></li>
                            {% endif %}
                            <li data-target='#carousel-custom' data-slide-to='1'>
                                <img src='{{ asset(image.chemin) }}' alt=''>
                            </li>
                        {% endfor %}


                    </ol>
                </div>
            </div>


            <!-- Elevate end      -->
        </div>

        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="main-title">{{ materiel.nom }}</h1>
                </div>
            </div><!-- end row-->

            <div class="row">
                <div class="col-md-12">
                    <span class="tags label label-primary">{{ materiel.type.nom }}</span>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <p class="description">
                        {{ materiel.description }}
                    </p>
                </div>
            </div><!-- end row -->

            <div class="row">
                <div class="col-md-12 bottom-rule">
                    <h2 class="product-price">{{ materiel.prix }} €</h2>
                </div>
            </div><!-- end row -->

        </div>
    </div><!-- end row -->
</div><!-- end container -->
{% endblock %}