{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Nos Produits</h2>
            <hr>
            {% for unmateriel in materiel %}
                <div class="col-sm-4">
                    <div class="list mb-2">
                        <div class="list-header">
                            <a href="#" class="list-header-image">
                                {% if unmateriel.image[0].chemin is not defined  %}
                                    <img src="{{ asset("upload/unknown.jpg") }}" width="250" height="250">
                                {% else %}
                                    <img src="{{ asset(unmateriel.image[0].chemin) }}" width="250" height="250">
                                {% endif %}
                            </a>
                        </div>
                        <div class="list-content">
                            <h2><a href="{{ path('details_materiel',{'id':unmateriel.id}) }}" class="text-black">{{ unmateriel.nom }}</a></h2>
                            <span class="list-meta">
                    	        <span class="list-meta-item"><i class="fa fa-clock-o"></i> {{ unmateriel.type.nom }}</span>
                                <span class="list-meta-item"><i class="fa fa-star"></i> {{ unmateriel.prix }} €</span>
                            </span>
                            <p>{{ unmateriel.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}