{% extends 'base.html.twig' %}

{% block body %}

    {% form_theme contactForm 'bootstrap_3_layout.html.twig' %}

    {{ form_start(contactForm, {attr:{novalidate:'novalidate'}}) }}

    <div class="row">

        <div class="col-md-10 col-md-offset-1">
            <h2>Contact</h2>
            <hr>
        </div>
        <div class="col-md-5 col-md-offset-1">
            {{ form_row(contactForm.name) }}
            {{ form_row(contactForm.email) }}
        </div>
        <div class="col-md-5">
            {{ form_row(contactForm.subject) }}
            {{ form_row(contactForm.message) }}
        </div>

    </div>

    <div class="row">
        <div class="col-md-5 col-md-offset-1">
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </div>
    </div>
    {{ form_end(contactForm) }}

{% endblock %}